* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Manrope';
  color: var(--black);
}

html {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}
