.view-customer-modal {
  width: 794px;
  height: 598px;
  display: none;
  position: fixed;
  z-index: 2; /* On top of overlay's 1 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 23px 40px 27px;
  background-color: var(--modal-color);
}

.view-customer-modal h2 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--heading-size-md);
  line-height: 27px;
  color: var(--text-primary-color);
  margin-bottom: 18px;
}

.view-customer-modal hr {
  border: 1px solid #000000;
  margin-bottom: 19px;
}
