.button-primary {
  padding: 10px 20px;
  color: var(--text-light-color);
  background-color: var(--button-primary-color);
  border: none;
  border-radius: var(--border-radius-xs);
}

.button-primary:hover {
  color: var(--text-light-color);
  background-color: var(--button-primary-hover-color);
}

.button-secondary {
  padding: 10px 20px;
  color: var(--text-danger-color);
  background-color: var(--text-light-color);
  border: 1px solid var(--button-secondary-color);
  border-radius: var(--border-radius-xs);
}

.button-secondary:hover {
  color: var(--text-light-color);
  background-color: var(--button-secondary-hover-color);
}

.button-primary:disabled,
.button-secondary:disabled {
  opacity: 70%;
}

button .button-text {
  width: 131px;
  height: 31px;
  font-family: 'Inter';
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--body-size-md);
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
