.button-primary,
.button-secondary {
  min-width: 173px;
  padding: 17px 0px;
  font-family: 'Inter';
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--body-size-md);
  line-height: 17px;
  border-radius: var(--border-radius-xs);
}

.button-primary {
  color: var(--white);
  background-color: var(--button-primary-color);
  border: none;
}

.button-primary:hover {
  color: var(--white);
  background-color: var(--button-primary-hover-color);
}

.button-secondary {
  color: var(--text-danger-color);
  background-color: var(--white);
  border: 1px solid var(--button-secondary-color);
}

.button-secondary:hover {
  color: var(--white);
  background-color: var(--button-secondary-hover-color);
}

.button-primary:disabled,
.button-secondary:disabled {
  opacity: 70%;
}
