.status-cell {
  height: 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-size-sm);
  line-height: 18px;
  border-radius: var(--border-radius-lg);
  text-align: center;
}

.status-open {
  width: 52px;
  margin-right: 38px;
  color: var(--text-status-open-color);
  background-color: var(--background-status-open-color);
}

.status-paid {
  width: 47px;
  margin-right: 43px;
  color: var(--text-status-paid-color);
  background-color: var(--background-status-paid-color);
}

.status-inactive {
  width: 68px;
  margin-right: 22px;
  color: var(--text-status-inactive-color);
  background-color: var(--background-status-inactive-color);
}

.status-due {
  width: 44px;
  margin-right: 46px;
  color: var(--text-status-due-color);
  background-color: var(--background-status-due-color);
}

.negative{
  color: var(--text-danger-color);
}

.positive{
  color: var(--text-positive-color);
}
