.error-toast {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  justify-content: space-between;
  min-width: 350px;
  border: 1px solid var(--black);
}

.error-toast p {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-size-md);
  color: var(--text-default-color);
  line-height: 17px;
  margin-bottom: 0;
}

.error-toast h2 {
  text-align: center;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--heading-size-md);
  color: var(--text-primary-color);
  margin-bottom: 5px;
}

.error-toast button {
  border: none;
  background-color: transparent;
  padding: 0;
  min-width: unset;
  width: 20px;
  height:20px;
}
